.tilePic {
    order: 4;
}

.tileVid {
    order: 2;
}

.tileIntro {
    order: 1;
    padding: 10px;
    text-indent: 10px;
    font-size: 1.25em;
}

.tileCal {
    order: 3;
}

.tileQuote {
    order: 5;
}

#source {
    text-indent: 30px;
}

#source::before {
    content: "--";
}
