.leftCol {
    display: inherit;
    flex-direction: column;
    opacity: var(--elementOpacity);
    margin: 0 0px 0px 0px;
    padding: 0px;
    width: 48%;
    justify-content: flex-start;
 }

.tileNabil {
    display: inherit;
    justify-content: center;
    width: 100%;
}

.tileNabil img {
    max-width: 70%;
}

.tileNabil p {
}
  
.rightCol {
    background-color: white;
    display: inherit;
    flex-direction: column;
    width: 48%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.tileVid {
    max-width: 100%;
}

@media only screen and (max-width: 500px) {
.leftCol {
    display: inherit;
    width: 90vw;
    padding: 10px;
    }

.leftCol img {
    max-width: 90%;
}

.tileNabil {
    border: 0px;
}

.tileVid {
    border: 0px;
}

.cal {
    height: 300px;
}
.tileCal {
    border: 0px;
}
.rightCol {
    background-color: white;
    opacity: var(--elementOpacity);
    width: 90vw;
    padding: 10px;
    display: inherit;
    align-items: center;
    text-align: right;
    border: 0;
    }
}